*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
} 
.contact{
    position: absolute;
    right: 0%;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url('/image/wepik-20211019-164937.jpg');
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
    color:rgb(250, 250, 250);
    background: rgba(253, 253, 253, 0.1);
    padding: 15px 15px;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
     color: #000; 
}

.container{
       height: 75vh;
       width: 80%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 30px;
   }
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
    flex-direction: column;
    background: rgba(0,0,0,0.3);
    padding: 15px 15px; 
    color: #fff;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(0, 6, 10);
}
