*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
   
}
.hd{
    height: 100vh;

}
.navbar-style{
    background-color: yellowgreen;
    box-shadow: 0 5px 10px #efefef;
}
.logo{
    height: 65px;
    padding: 0px 20px;
}
.icon-bar{
    background: rgb(0, 248, 62);
}
li a{
    color: black;
}
body{
    background: black;
}
.row{
    background-color: #f5f5f5;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
}
.btn1{
    border: 2px;
    outline: none;
    height: 55px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 24px;
    font-weight: bold;
}
.btn1:hover{
    background-color: #2ecc71;
    border: 1px solid #3498db;
    color: black;
}
